<%- include('./partials/head') %>
    <div class="container mt-5">        
        <div class="row">
            <div class="col-7">1</div>
            <div class="col-5">
                <div class="h1 mb-5">Forgot Passwrod</div>
                <form id='login'>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                    </div>

                    <div class="mt-4">
                      <button type="submit" class="btn btn-primary ">Submit</button>
                      <a href="/login" class="ms-5 link-primary ">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

  <script>
    
  </script>

<%- include('./partials/foot')%>