<%- include('./partials/head') %>
   <div class="container mt-5">
       <div class="h1">welcome uername</div>
       <div class="row">
         <div class="col">
           
         </div>
       </div>
   </div>
<%- include('./partials/foot')%>